*{
	font-family: Arial;
	font-size: 12pt;
	font-weight: 100;
}
body{
	position:relative;
	
	.content{
		.top_block{
			display: flex;

			canvas{
				position:relative;
				border:1px solid black;
			}
		}

		.ui_block{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			border:2px solid lightgrey;
			width:496px;
			height:50px;
			padding-left:3px;

			.selectUIItem{
				cursor:pointer;
				margin-right:10px;
				width:40px;
				height:40px;
				background-repeat: no-repeat;

				&[data-type = "JsIcon"]{
					background-size: 40px 40px;
					background-image: url("../img/icon-logo-js.png");
				}

				&[data-type = "GulpIcon"]{
					background-size: 40px 40px;
					background-image: url("../img/gulp-js.png");
				}

				&[data-type = "CssIcon"]{
					background-size: 40px 40px;
					background-image: url("../img/css_normal.png");
				}

				&[data-type = "HtmlIcon"]{
					background-size: 40px 40px;
					background-image: url("../img/html.png");
				}

				&[data-move = "true"]{
					position:absolute;
				}
			}
		}
		
		.controls_block{
			width:500px;
			padding-top:5px;
			display:flex;

			.btn{
				text-align: center;
				border:1px solid grey;
				border-radius: 4px;
				padding:10px 0;
				width:200px;
				flex:0 0 200px;
				cursor:pointer;
				transition: 0.5s;
				margin-bottom:5px;

				&:hover{
					transition: 0.5s;
					background:lightgrey;
				}
			}
		}

		.scaleUI{
			position:absolute;
			width:20px;
			height:20px;
			background-repeat: no-repeat;
			background-size: 15px 15px;
			background-image: url("../img/icon_scale.png");
			cursor:pointer;
			display:none;
		}
		.rotationUI{
			position:absolute;
			width:20px;
			height:20px;
			background-image: url("../img/icon_rotation.png");
			cursor:pointer;
			display:none;
		}

		.deleteUI{
			position:absolute;
			width:20px;
			height:20px;
			background-image: url("../img/icon_close.png");
			cursor:pointer;
			display:none;
		}

		.selectionShape{
			pointer-events: none;
			position:absolute;
			width:100px;
			height:100px;
			border:1px dashed grey;
			background: transparent;
			cursor:pointer;
			display:none;
		}
	}
}