//= templates/head.html
//= templates/header.html

<div class="content">
	
	<div class="top_block">
		<div class="canvas_block">
		</div>
		
		<div class="result_block">
			<img id="canvasImg">
		</div>
	</div>

	<div class="ui_block">
		<div class="selectUIItem" data-type="HtmlIcon"></div>
		<div class="selectUIItem" data-type="JsIcon"></div>
		<div class="selectUIItem" data-type="GulpIcon"></div>
		<div class="selectUIItem" data-type="CssIcon"></div>
	</div>
	
	<div class="controls_block">
		<div class="btn save">Сохранить результат</div>
		<input type="file" name="file" id="file">
		<div class="btn load">Загрузить картинку</div>
	</div>

	<div class="scaleUI">
	</div>

	<div class="rotationUI">
	</div>

	<div class="deleteUI">
	</div>

	<div class="selectionShape">
	</div>

</div>

//= templates/footer.html
//= templates/footer_scripts.html
//= templates/foot.html